# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt

# vs code
.vscode

# sbt
project/project/
project/target/
target/

# other?
.history
.scala_dependencies
.scala-build
.cache-main

# general
*.class

lib